# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.md text diff=markdown
*.yaml text
*.yml text
*.html text diff=html
*.css text diff=css
*.js text
*.json text
*.xml text
*.txt text
*.toml text

# Declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg text
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
